
.app-container {
  background-color: #6f7381;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
}

.qr-title {
  font-family: "DigitalCounter7";
  color: white;
  font-size: clamp(2rem, 4vh, 5rem);
  font-weight: bold;
}

.qr-weight {
  font-family: "DigitalCounter7";
  color: white; 
  font-size: clamp(2rem, 4vh, 5rem);
  font-weight: bold;
}

